// COLOR VARIABLES
$color-dark: #030303;
$color-light: #C2BCD2;
$color-dark-background: #060606;
$color-white: #ffffff;
$color-purple: #534878;

// FONT VARIABLES
$font-primary: "IBM Plex Mono", monospace;
$font-secondary: "JetBrains Mono", monospace;

// $desktop-width: 1920px;
// $tablet-landscape-width: 1024px;
// $tablet-portrait-width: 768px;
// $mobile-width: 420px;
// $mobile-small-width: 320px;
//desktop-content-width: 1050px;


$content-width: 1050 + 20*2px;
