.forum {
  background-image: url("../../../public/assets/img/background.jpg");
  background-color: $color-dark-background;;
  background-repeat: no-repeat;
  background-position: 95% 0%;
}

.forum__wrapper {
  padding-top: 68px;
  padding-bottom: 400px;
}

.forum__heading-main {
  margin-bottom: 20px;
}

.forum__heading-sec {
  width: 740px;
  margin-bottom: 80px;
}

.forum__description {
  width: 955px;
  margin-bottom: 24px;

  @extend %font-sec;
  @include font($size: 2rem, $height: 2.6rem, $weight: 300);
}

.forum__tooltip {
  margin-bottom: 154px;
}