.user-block__link {
  border: 3px solid #FFFFFF;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  width: 164px;
  height: 50px;

  @extend %font-sec;
  @include font($size: 1.6rem, $height: 2.1rem, $weight: 300);

  text-decoration: none;
  color: $color-light;
  text-transform: uppercase;
}
